body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color:aliceblue;
    line-height: 1.6;
}

header{
    padding: 20px;
    background-color: #222;
    color: white;
    text-align: center;
}

section{
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

h2{
    color: dodgerblue;
}

a{
    color: aquamarine;
}